<div class="header">
  <div class="headertext title">no i mamy problem.</div>
</div>

<!-- <div class="headertext title">opcjonalny tekst błędu, np. nie masz jeszcze żadnych transakcji.</div> -->

<div class="slothcontainer">
  <img src="assets/sloth.svg" class="sloth" alt="sloth" />
</div>

<!-- <div class="nextheader">
  <button class="navibartext" [routerLink]="['/home']">przejdź do aplikacji</button>
  <button class="navibartext" [routerLink]="['/']">jakaś akcja, np. dodaj portfel</button>
  <button class="navibartext" [routerLink]="['/']">jakaś akcja, np. dodaj transakcję</button>
</div> -->
