<div class="content">
  <div class="title">A CO TO TEN FITWALLET?</div>

  <div class="circles-container">
    <div class="circle left-circle">
      <span>WSZYSCY to znamy.</span>

      <span
        >każdy z nas przeżył ten moment na pewnym etapie swojego życia.</span
      >

      <span
        >zbliża się koniec miesiąca, wypłata nadejdzie dopiero dziesiątego, a na
        koncie pustka.zastanawiasz się pewnie, gdzie podziały się Twoje
        pieniądze i czy sprzedaż nerki pomoże Ci opłacić czynsz i serwisy
        streamingowe?</span
      >

      <span>na szczęście Twoja nerka może czuć się bezpiecznie.</span>
      <span>Ty również.</span>
    </div>

    <div class="circle right-circle">
      <span
        >fitwallet to aplikacja, która<br />pomoże Ci kontrolować<br />Twój
        budżet.</span
      >

      <span
        >zarejestruj się.<br />utwórz swój pierwszy portfel.<br />dodaj
        transakcje.<br />sprawdź statystyki i podejmij decyzje.</span
      >

      <span>aplikacja- nasza.<br />samodyscyplina- twoja.</span>

      <span>tylko tyle i aż tyle.</span>
    </div>
  </div>
</div>
