<div class="footer">

  <div class="leftdiv">
    <div class="info">
      <a class="text" [routerLink]="['/how-to']">instrukcja aplikacji</a>
    </div>
    <div class="info">
      <a class="text" [routerLink]="['/contact']">kontakt</a>
    </div>
  </div>

  <div class="rightdiv">
    <a href="https://github.com/isybycnsmam"><img src="../../../assets/github.png"/></a>
    <a href="https://www.linkedin.com/in/maciej-scholz-01178a18a/"><img src="../../../assets/linkedin.png"/></a>
  </div>
</div>