.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px 5px 45px;

  border-bottom: 1px solid #ed9842;

  .logo {
    height: 100px;
    margin-right: auto;
  }

  .navbar-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    a {
      margin: 0 10px;
      text-decoration: none;
      color: #fdf0e2;

      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      letter-spacing: 0.2px;

      &:hover {
        color: gray;
      }
    }
  }

  .user-actions {
    display: flex;
    align-items: center;

    button {
      padding: 20px;
      border-radius: 25px;
      color: #080604;
      background-color: #ed9842;

      border: none;
      display: inline-block;

      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 155.556% */
      letter-spacing: 0.2px;

      margin: 0 10px;
      text-decoration: none;
    }
  }
}
