<div class="container">
    <div class="header headertext accentcolor">hej!</div>

    <div class="text">
        mamy nadzieję, że chcesz się z nami skontaktować w celu podziękowania za aplikację<br />
        i pochwalenia nas za dobrą robotę :) <br /><br />
        ale jeśli nie, trudno, też jakoś przebolejemy...
    </div>

    <div class="contactcontainer">
        <div class="textbold accentcolor">
            sprawy związane z działaniem aplikacji:</div>
        <div>
            <span class="textbold">email: </span>
            <span class="text">fitwallet.kontakt&#64;gmail.com</span>
        </div>
    </div>

    <div class="contactcontainer">
        <div class="textbold accentcolor">
            sprawy biznesowe i współpracowe:</div>
            <div>
                <span class="textbold">email: </span>
                <span class="text">maciej-scholz&#64;o2.pl</span><br>
                <span class="textbold">email: </span>
                <span class="text">marta.wisniewska116&#64;gmail.com</span>
            </div>

        <div class="contacticons">
            <a href="https://github.com/isybycnsmam"><img src="../../../assets/github.png"/></a>
            <a href="https://www.linkedin.com/in/maciej-scholz-01178a18a/"><img src="../../../assets/linkedin.png"/></a>        
        </div>
    </div>
</div>