<div class="wrapper">
  <div class="left-panel">
    <button
      *ngFor="let btn of leftPanelButtons"
      [style.background-color]="btn.color"
      [routerLink]="[btn.onClickLink]"
    >
      {{ btn.text }}
    </button>
  </div>

  <canvas
    class="chart"
    baseChart
    [type]="'pie'"
    [data]="pieChartData"
    [options]="pieChartOptions"
    [legend]="false"
  >
  </canvas>

  <div class="right-panel">
    <button
      *ngFor="let btn of rightPanelButtons"
      [style.background-color]="btn.color"
      [routerLink]="[btn.onClickLink]"
    >
      {{ btn.text }}
    </button>
  </div>
</div>
