<div class="content">
  <div class="header">
    <div class="headertext title">A CO TO TEN FITWALLET?</div>
  </div>

  <!-- INFO CIRCLES -->

  <div class="circles-container">
    <div class="circle left-circle">
      <span class="textbold">WSZYSCY to znamy.</span>

      <span class="text">każdy z nas przeżył ten moment<br> na pewnym etapie swojego życia.</span>

      <span class="text">zbliża się koniec miesiąca, wypłata nadejdzie <br>dopiero dziesiątego, a na
        koncie pustka. <br>zastanawiasz się pewnie, gdzie podziały się Twoje<br>
        pieniądze i czy sprzedaż nerki pomoże Ci opłacić <br> czynsz i serwisy
        streamingowe?</span>

      <span class="text">na szczęście Twoja nerka<br> może czuć się bezpiecznie.</span>
      <span class="text">Ty również.</span>
    </div>

    <div class="circle right-circle">
      <span class="textbold">fitwallet to aplikacja, która<br />pomoże Ci kontrolować<br />Twój
        budżet.</span>

      <span class="text">zarejestruj się.<br />utwórz swój pierwszy portfel.<br />dodaj
        transakcje.<br />sprawdź statystyki i podejmij decyzje.</span>

      <span class="text">aplikacja- nasza.<br />samodyscyplina- twoja.</span>

      <span class="text">tylko tyle i aż tyle.</span>
    </div>
  </div>

  <!-- HEADER -->

  <div class="nextheader header">
    <div class="headertext title">JAK KORZYSTAĆ Z FITWALLET?</div>
  </div>

  <span class="textbold info">najlepiej zacząć od przeczytania najważniejszych <br />pojęć dotyczących
    fitwallet.<br /><br />są tutaj, o, niżej.
  </span>

  <!-- WALLETS -->

  <div class="content infospanscontainer">
    <div class="infospans">
      <div class="infospansiconbrown">
        <img src="../../../assets/wallet.png" />
        <div class="infospansicontext textbold">portfele </div>
      </div>

      <div class="infospantext text">
        portfele to nic innego niż rozdzielanie funduszy. przykładowo, <br />możesz stworzyć portfel o nazwie “konto
        PKO” i wpisać do niego <br />swój stan konta, a po chwili stworzyć portfel “skarpeta” i dodać <br />ilość
        posiadanej przez Ciebie gotówki. <br /><br />dzięki rozdzielaniu funduszy na portfele będziesz mieć większą
        <br />świadomość tego, gdzie i ile pieniędzy trzymasz.<br /><br />portfele mogą przechowywać również ujemną
        wartość. <br />nic nie stoi na przeszkodzie, abyś utworzył portfel “pożyczki”<br />i wpisał do niego każdego
        znajomego z imienia. <br />prosto z mostu.
      </div>
    </div>

    <!-- TRANSACTIONS -->

    <div class="infospans">
      <div class="infospantext text">
        transakcje są rozbudowane albo i nie. zależy jak bardzo <br />chcesz kontrolować samego siebie.<br /><br />w
        zamyśle transakcja jest koszykiem, do którego dodajesz pozycje,<br />zarówno dodatnie (wyczekania wypłata), jak
        i ujemne (zakupy). <br />możesz dodawać je skrupulatnie, na przykład do danej transakcji <br />wpisując każdą
        pozycję z paragonu, który otrzymałeś. <br /><br />możesz też to olać i wpisać po prostu jedną pozycję<br />na
        kwotę całości paragonu. <br /><br />skomplikowane? wcale nie. pobawisz się chwilę i ogarniesz.
      </div>

      <div class="infospansiconbeige">
        <img src="../../../assets/transaction.png" />
        <div class="infospansicontext textbold">transakcje </div>
      </div>
    </div>

    <!-- CATEGORIES -->

    <div class="content infospanscontainer">
      <div class="infospans">
        <div class="infospansiconbrown">
          <img src="../../../assets/category.png" />
          <div class="infospansicontext textbold">kategorie </div>
        </div>
        <div class="infospantext text">
          kategorie to chyba najłatwiejsza część. <br /><br />wyżej wspomnieliśmy o transakcjach, na które składają
          się<br />pozycje. do każdej pozycji możesz przypisać kategorię.<br />kilka zaproponowaliśmy Ci na start, ale
          oczywiście możesz<br />dodać także swoje, nawet zachęcamy do tego.<br /><br />możesz nawet robić drzewka! to
          znaczy, możesz dodać<br />kategorię “zachcianki”, a do niej dopisać podkategorie,<br />na przykład “hobby”,
          “wyjścia”, “ubrania”... <br />no dobra, przykład nie jest zbyt trafiony, ale dasz radę.</div>
      </div>

      <!-- STATS -->

      <div class="infospans">
        <div class="infospantext text">
          dobra, jednak statystyki są najłatwiejsze, wbrew temu,<br />co mówili na studiach.<br /><br />za każdym razem,
          kiedy wejdziesz na swoje fitwallet, <br />zobaczysz wykres kołowy, który pokaże ile i na co
          wydałeś<br />(spokojnie, nic nikomu nie wypominamy!)<br />w planach mamy więcej narzędzi
          umożliwiających<br />Ci analizę wydatków. filtry, tworzenie własnych wykresów<br />i inne takie.
          <br />ale
          na razie aplikacja jest darmowa.<br /><br />później będzie ich więcej. obiecujemy.
        </div>
        <div class="infospansiconbeige">
          <img src="../../../assets/stats.png" />
          <div class="infospansicontext textbold">statystyki </div>
        </div>
      </div>

      <!-- HEADER -->

      <div class="nextheader header">
        <div class="headertext title">CZY MUSZĘ WIEDZIEĆ COŚ JESZCZE?</div>
      </div>

      <!-- GENERAL INFO -->

      <div class="infospans">
        <div class="generaltext text">
          w ramach ciekawostki możemy powiedzieć skąd nazwa. <br><br>

          w planach mamy dodanie możliwości liczenia kalorii <br>
          i propozycji robienia posiłków z zakupionych składników. <br>
          stąd wziął się człon “fit”. <br>
          wallet ze względu na zarządzanie finansami. <br><br>

          fit. wallet. fitwallet.<br>
          ma sens, prawda?<br>
        </div>
      </div>

      <div class="infospans">
        <div class="generaltext text">
          tak naprawdę to tyle. jesteś gotowy do rozpoczęcia korzystania z fitwallet!<br><br>

          zdajemy sobie sprawę z tego, że zapewne jeszcze nie do końca<br>
          rozumiesz co i jak. dlatego zachęcamy i prosimy- pobaw się trochę. <br>
          dodaj jakieś głupoty, edytuj je, na końcu usuń. <br><br>

          wszystko pojmiesz w chwilę.<br><br>

          do dzieła!
        </div>
      </div>

      <div class="nextheader">
        <button class="navibartext" [routerLink]="['/home']">przejdź do aplikacji</button>
      </div>
    </div>
  </div>