<div class="content">
  <div class="header">
    <div class="headertext title">A CO TO TEN FITWALLET?</div>
  </div>

  <div class="circles-container">
    <div class="circle left-circle">
      <span class="textbold">WSZYSCY to znamy.</span>

      <span class="text">każdy z nas przeżył ten moment<br> na pewnym etapie swojego życia.</span>

      <span class="text">zbliża się koniec miesiąca, wypłata nadejdzie <br>dopiero dziesiątego, a na
        koncie pustka. <br>zastanawiasz się pewnie, gdzie podziały się Twoje<br>
        pieniądze i czy sprzedaż nerki pomoże Ci opłacić <br> czynsz i serwisy
        streamingowe?</span>

      <span class="text">na szczęście Twoja nerka<br> może czuć się bezpiecznie.</span>
      <span class="text">Ty również.</span>
    </div>

    <div class="circle right-circle">
      <span class="textbold">fitwallet to aplikacja, która<br />pomoże Ci kontrolować<br />Twój
        budżet.</span>

      <span class="text">zarejestruj się.<br />utwórz swój pierwszy portfel.<br />dodaj
        transakcje.<br />sprawdź statystyki i podejmij decyzje.</span>

      <span class="text">aplikacja- nasza.<br />samodyscyplina- twoja.</span>

      <span class="text">tylko tyle i aż tyle.</span>
    </div>
  </div>

  <div class="header">
    <div class="headertext title">JAK KORZYSTAĆ Z FITWALLET?</div>
  </div>

  <span class="textbold info">najlepiej zacząć od przeczytania najważniejszych <br/>pojęć dotyczących fitwallet.<br/><br/>są tutaj, o, niżej.
  </span>
</div>