.content {
  padding-top: 25px;
}

.title {
  color: #ed9842;
  padding: 50px;
  text-align: center;
}

.header{
  width: 100%; 
  height: 100%; 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
}

.circles-container {
  justify-content: center;
  align-items: center;
  display: flex;

  .circle {
    display: flex;
    width: 37.5rem;
    height: 37.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 18.75rem;

    span {
      text-align: center;
    }
  }

  .left-circle {
    background: #724b3ccc;
  }

  .right-circle {
    background: #C5946C;
    color: #080604
  }
}

.info{
  text-align: center; 
}