<div class="content">
  <div class="header">
    <div class="headertext title accent">twoje transakcje</div>
  </div>

  <div class="header">
    <button class="navibartext" [routerLink]="['/']">dodaj transakcję</button>
  </div>

</div>

<div class="content">
  <div class="header">
    <div class="textbold title">ostatnie transakcje</div>
  </div>

  <div class="table">
    <div class="tableheadrow">
      <div class="textbold accent w250">
        portfel
      </div>
      <div class="textbold accent w150">
        wartość
      </div>
      <div class="textbold accent w300">
        opis
      </div>
      <div class="textbold accent w225">
        kto?
      </div>
      <div class="textbold accent w180">
        data
      </div>
      <div class="textbold accent w150">
        zarządzaj
      </div>
    </div>

    <div class="tablerow tablerowcolorv1">
      <div class="tablecell text w250">
        portfel
      </div>
      <div class="tablecell text w150">
        wartość
      </div>
      <div class="tablecell text w300">
        opis
      </div>
      <div class="tablecell text w225">
        kto?
      </div>
      <div class="tablecell text w180">
        data
      </div>
      <div class="tablecell tablecellimg w150">
        <a class="text" [routerLink]="['/']"><img src="../../assets/Delete.png" /></a>
        <a class="text" [routerLink]="['/']"><img src="../../assets/Edit.png" /></a>
        <a class="text" [routerLink]="['/']"><img src="../../assets/Double Down.png" /></a>
      </div>
    </div>

    <div class="tablerow tablerowcolorv2">
      <div class="tablecell text w250">
        portfel
      </div>
      <div class="tablecell text w150">
        wartość
      </div>
      <div class="tablecell text w300">
        opis
      </div>
      <div class="tablecell text w225">
        kto?
      </div>
      <div class="tablecell text w180">
        data
      </div>
      <div class="tablecell tablecellimg w150">
        <a class="text" [routerLink]="['/']"><img src="../../assets/Delete.png" /></a>
        <a class="text" [routerLink]="['/']"><img src="../../assets/Edit.png" /></a>
        <a class="text" [routerLink]="['/']"><img src="../../assets/Double Down.png" /></a>
      </div>
    </div>

    <div class="tablerow tablerowcolorv1">
      <div class="tablecell text w250">
        portfel
      </div>
      <div class="tablecell text w150">
        wartość
      </div>
      <div class="tablecell text w300">
        opis
      </div>
      <div class="tablecell text w225">
        kto?
      </div>
      <div class="tablecell text w180">
        data
      </div>
      <div class="tablecell tablecellimg w150">
        <a class="text" [routerLink]="['/']"><img src="../../assets/Delete.png" /></a>
        <a class="text" [routerLink]="['/']"><img src="../../assets/Edit.png" /></a>
        <a class="text" [routerLink]="['/']"><img src="../../assets/Double Down.png" /></a>
      </div>
    </div>

    <div class="elements">
      <div class="elementsheadrow">
        <div class="textbold w250">
          nazwa
        </div>
        <div class="textbold w150">
          wartość
        </div>
        <div class="textbold w300">
          ile sztuk?
        </div>
        <div class="textbold w225">
          kategoria
        </div>
        <div class="textbold w180">
          opis
        </div>
        <div class="textbold w150">
          zarządzaj
        </div>
      </div>

      <div class="tablerow">
        <div class="tablecell text w250">
          lek XYZ
        </div>
        <div class="tablecell text w150">
          -100 zł
        </div>
        <div class="tablecell text w300">
          1
        </div>
        <div class="tablecell text w225">
          apteka
        </div>
        <div class="tablecell text w180">
          lek dla Reksia
        </div>
        <div class="tablecell tablecellimg w150">
          <a class="text" [routerLink]="['/']"><img src="../../assets/Delete.png" /></a>
          <a class="text" [routerLink]="['/']"><img src="../../assets/Edit.png" /></a>
        </div>
      </div>

      <div class="tablerow">
        <div class="tablecell text w250">
          lek ABC
        </div>
        <div class="tablecell text w150">
          -100 zł
        </div>
        <div class="tablecell text w300">
          1
        </div>
        <div class="tablecell text w225">
          apteka
        </div>
        <div class="tablecell text w180">
          witaminy
        </div>
        <div class="tablecell tablecellimg w150">
          <a class="text" [routerLink]="['/']"><img src="../../assets/Delete.png" /></a>
          <a class="text" [routerLink]="['/']"><img src="../../assets/Edit.png" /></a>
        </div>
      </div>
    </div>

    <div class="tablerow">
      <div class="seemore">
        <div class="seemoretext">
          scrolluj w dół, aby pokazać więcej transakcji
        </div>
      </div>
    </div>

  </div>