<div class="content">
  <div class="header">
    <div class="headertext title accent">twoje transakcje</div>
  </div>

  <div class="header">
    <button class="navibartext" [routerLink]="['/transactions/add-edit']">
      dodaj transakcję
    </button>
  </div>
</div>

<div class="content">
  <div class="header">
    <div class="textbold title">ostatnie transakcje</div>
  </div>

  <div class="table">
    <div class="tableheadrow">
      <div class="textbold accent w250">portfel</div>
      <div class="textbold accent w150">wartość</div>
      <div class="textbold accent w300">opis</div>
      <div class="textbold accent w225">kto?</div>
      <div class="textbold accent w180">data</div>
      <div class="textbold accent w150">zarządzaj</div>
    </div>

    <div class="tablerow" *ngFor="let transaction of transactions">

      <div class="contentblock tablerowcolor">
        <div class="text w250">
          {{ transaction.walletName }}
        </div>
        <div class="text w150">
          {{ sumTransaction(transaction) }}
        </div>
        <div class="text w300">
          {{ transaction.description ? transaction.description : "-" }}
        </div>
        <div class="text w225">{{ transaction.companyName }}</div>
        <div class="text w180">{{ transaction.operationDate | date:'dd-MM-yyyy' }}</div>
        <div class="tablecellimg w150">
          <a class="text" (click)="deleteTransaction(transaction.id)"><img src="../../assets/delete.png" /></a>
          <a class="text" [routerLink]="['/transactions/add-edit', transaction.id]"><img
              src="../../assets/edit.png" /></a>
          <a class="text" (click)="expandTransaction(transaction.id)"><img src="../../assets/doubledown.png" /></a>
        </div>
      </div>

      <div class="contentblock">
        <div class="elements">
          <div class="elementsheadrow">
            <div class="textbold w250">
              nazwa
            </div>
            <div class="textbold w150">
              wartość
            </div>
            <div class="textbold w300">
              ile sztuk?
            </div>
            <div class="textbold w225">
              kategoria
            </div>
            <div class="textbold w180">
              opis
            </div>
            <div class="textbold w150">
              zarządzaj
            </div>
          </div>

          <div class="elementstablerow"  *ngFor="let element of transaction.elements">
            <div class="tablecell text w250">
              {{ element.name }}
            </div>
            <div class="tablecell text w150">
              {{ element.value }}
            </div>
            <div class="tablecell text w300">
              {{ element.quantity }}
            </div>
            <div class="tablecell text w225">
              {{ element.categoryName }}
            </div>
            <div class="tablecell text w180">
              {{ element.description ? element.description : "-" }}
            </div>
            <div class="tablecell tablecellimg w150">
              <a class="text" [routerLink]="['/']"><img src="../../assets/delete.png" /></a>
              <a class="text" [routerLink]="['/']"><img src="../../assets/edit.png" /></a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="tablerow">
      <div class="seemore">
        <div class="seemoretext">
          scrolluj w dół, aby pokazać więcej transakcji
        </div>
      </div>
    </div>
  </div>
</div>