.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px 5px 45px;

  border-bottom: 1px solid #ed9842;

  .logo {
    height: 100px;
    margin-right: auto;
  }

  .navbar-links {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-grow: 1;

    a {
      margin: 0 10px;
      text-decoration: none;
      color: #fdf0e2;

      img {
        height: 45px;
        width: 45px;
      }

      img:hover {
        filter: brightness(0) saturate(100%) invert(70%) sepia(56%) saturate(838%) hue-rotate(330deg) brightness(99%) contrast(88%);
      }

      &:hover {
        color: #ed9842;
        transition: ease-in-out 0.2s;
      }
    }
  }

  .user-actions {
    display: flex;
    align-items: center;

    .logout {
      cursor: pointer;
    }

    .logout:hover {
      color: #ed9842;
      transition: ease-in-out 0.2s;
    }

    button {
      padding: 20px;
      border-radius: 25px;
      background-color: #ed9842;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      display: flex;
      border: none;
      margin: 0 10px;
      text-decoration: none;
    }

    button:hover {
      color: #fdf0e2;
      transition: ease-in-out 0.2s;
      cursor: pointer;
    }

    button:active {
      color: #fdf0e2;
      background-color: #080604;
      -webkit-box-shadow: inset 0px 0px 0px 2px #ed9842;
      -moz-box-shadow: inset 0px 0px 0px 2px #ed9842;
      box-shadow: inset 0px 0px 0px 2px #ed9842;
      cursor: pointer;
    }

    .logout {
      margin-left: 30px;
    }
  }
}
