footer {
  margin-top: auto;
  width: calc(100% - 90px);
  height: 100px;
  padding: 5px 45px 5px 45px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.links {
  justify-content: flex-start;
}

.socials {
  justify-content: flex-end;
}

.links,
.socials {
  align-items: center;
  gap: 50px;
  display: flex;
}

img {
  width: 45px;
  height: 45px;
}
