.container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.title {
  color: #ed9842;
  padding: 50px;
  text-align: center;
}

.register-instead {
  margin-top: 2%;

  a {
    color: #ed9842;
    margin-left: 10px;
    text-decoration: none;
  }
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;

  label {
    color: #fdf0e2;
    margin-bottom: 10px;
  }

  input {
    border: none;
    border-bottom: 1px solid #ed9842;
    background-color: transparent;
    color: #fdf0e2;
    outline: none; // Remove highlighting when clicked
    text-align: center;
    margin-bottom: 3%;
    width: 40%;

    &.input-error {
      border-bottom: 1px solid #9d0208;
    }
  }

  .error-message {
    color: #9d0208;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.2px;
  }

  button {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    background-color: #ed9842;
    color: #080604;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.2px;
    border: none;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      color: #fdf0e2;
      transition: ease-in-out 0.2s;
      cursor: pointer;
    }

    &:active:not(:disabled) {
      color: #fdf0e2;
      background-color: #080604;
      -webkit-box-shadow: inset 0px 0px 0px 2px #ed9842;
      -moz-box-shadow: inset 0px 0px 0px 2px #ed9842;
      box-shadow: inset 0px 0px 0px 2px #ed9842;
      cursor: pointer;
    }
  }
}

.register-instead {
  margin-top: 2%;
  margin-bottom: 2%;

  a {
    color: #ed9842;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }

  a:hover {
    color: #fdf0e2;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
}
