<div class="container">
  <div class="header">
    <div class="headertext title">LOGOWANIE</div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <app-input
      [formControll]="loginForm.controls.username"
      label="login"
      placeholder="lubiepieski"
    />

    <app-input
      [formControll]="loginForm.controls.password"
      label="hasło"
      placeholder="12345678"
    />

    <div class="error-message" *ngIf="loginFailed">
      Nieprawidłowy login lub hasło
    </div>

    <button type="submit" [disabled]="!loginForm.valid">
      zaloguj się
    </button>

    <div class="register-instead">
      <span class="text">nie masz jeszcze konta?</span>
      <a class="textbold accent" [routerLink]="['/register']">zarejestruj się</a>
  </div>
  </form>
</div>
