<div class="container">
  <span class="title">LOGOWANIE</span>

  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <app-input
      [formControll]="loginForm.controls.username"
      label="login"
      placeholder="lubiepieski"
    />

    <app-input
      [formControll]="loginForm.controls.password"
      label="hasło"
      placeholder="12345678"
    />

    <div class="error-message" *ngIf="loginFailed">
      Nieprawidłowy login lub hasło
    </div>

    <button type="submit" [disabled]="!loginForm.valid">zaloguj się</button>
  </form>
</div>
