.content {
  padding-top: 25px;
}

.accent {
  color: #ed9842;
}

.title {
  padding: 50px;
  text-align: center;
}

.header {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

button {
  width: 200px;
  padding: 20px;
  border-radius: 25px;
  background-color: #ed9842;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  display: flex;
  border: none;
  text-decoration: none;
}

button:hover {
  color: #fdf0e2;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

button:active {
  color: #fdf0e2;
  background-color: #080604;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ed9842;
  -moz-box-shadow: inset 0px 0px 0px 2px #ed9842;
  box-shadow: inset 0px 0px 0px 2px #ed9842;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #080604;
  transition: ease-in-out 0.2s;
  cursor: pointer;

  &:hover {
    color: #fdf0e2;
    transition: ease-in-out 0.2s;
  }

  &:visited {
    color: #080604;
    transition: ease-in-out 0.2s;
  }
}

.categories {
  margin-top: 3%;
  margin-left: 100px;
  margin-right: 100px;
  height: auto;
  width: auto;
  position: relative;
}

.category {
  width: 300px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  float: left;
  margin: 10px;
  color: #080604;
  transition: height 0.2s;
  -moz-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 40px;

  .details {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a {
      margin-top: 5px;
    }
  }

  &:hover {
    height: 110px;
    transition: height 0.2s;
    -moz-transition: height 0.2s;
    -webkit-transition: height 0.2s;
    z-index: 10;

    .details {
      display: flex;
      transition: ease-in-out 0.2s;
    }
  }
}
