<div class="content">
  <div class="header">
    <div class="headertext title accent">PANEL ADMINISTRATORA</div>
  </div>

  <div class="table">
    <div class="tablerow">
      <div class="tableheadertextname textbold accent">
        imię
      </div>
      <div class="tableheadertextlogin textbold accent">
        login
      </div>
      <div class="tableheadertextemail textbold accent">
        adres e-mail
      </div>
      <div class="tableheadertextlogin textbold accent">
        zarządzaj kontem
      </div>
    </div>

    <div class="tablerow">
      <div class="tablecell tableheadertextname text">
        Maciej
      </div>
      <div class="tablecell tableheadertextlogin text">
        mscholz
      </div>
      <div class="tablecell tableheadertextemail text">
        maciejscholz01082001&#64;gmail.com
      </div>
      <div class="tablecellimg">
        <img src="../../../assets/delete.png">
        <img src="../../../assets/edit.png">
      </div>
    </div>

    <div class="tablerow">
      <div class="tablecell tableheadertextname text">
        Marta
      </div>
      <div class="tablecell tableheadertextlogin text">
        mwisniewska
      </div>
      <div class="tablecell tableheadertextemail text">
        marta.wisniewska&#64;gmail.com
      </div>
      <div class="tablecell tablecellimg">
        <img src="../../../assets/delete.png">
        <img src="../../../assets/edit.png">
      </div>
    </div>
  </div>

  <div class="header">
    <div class="headertext title accent">OCZEKUJĄCY UŻYTKOWNICY</div>
  </div>
</div>

<div class="content">
  <div class="table">
    <div class="tablerow">
      <div class="tableheadertextname textbold accent">
        imię
      </div>
      <div class="tableheadertextlogin textbold accent">
        login
      </div>
      <div class="tableheadertextemail textbold accent">
        adres e-mail
      </div>
      <div class="tableheadertextemail textbold accent">
        status
      </div>
      <div class="tableheadertextlogin textbold accent">
        zarządzaj kontem
      </div>
    </div>

    <div class="tablerow">
      <div class="tablecell tableheadertextname text">
        Maciej
      </div>
      <div class="tablecell tableheadertextlogin text">
        mscholz
      </div>
      <div class="tablecell tableheadertextemail text">
        maciejscholz01082001&#64;gmail.com
      </div>
      <div class="tablecell tableheadertextemail text">
        niezwerfikowany
      </div>
      <div class="tablecellimg">
        <img src="../../../assets/close.png">
        <img src="../../../assets/done.png">
      </div>
    </div>

    <div class="tablerow">
      <div class="tablecell tableheadertextname text">
        Marta
      </div>
      <div class="tablecell tableheadertextlogin text">
        mwisniewska
      </div>
      <div class="tablecell tableheadertextemail text">
        marta.wisniewska&#64;gmail.com
      </div>
      <div class="tablecell tableheadertextemail text">
        niezweryfikowany
      </div>
      <div class="tablecell tablecellimg">
        <img src="../../../assets/close.png">
        <img src="../../../assets/done.png">
      </div>
    </div>
  </div>
</div>
