/* 
WEBPAGE COLORS
#080604 - background color
#FDF0E2 - basic text color
#C5946C - basic primary color for divs (mostly used with low opacity)
#724B3C - basic secondary color for divs (mostly used with low opacity)
#F9844A - basic additional color for divs (mostly used with low opacity)
#ED9842 - main color
#FACC9E - darker variant of text color and icons' color
*/

body {
  background-color: #080604;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fdf0e2;
  overflow-x: hidden;
  min-width: 1200px;
}

.accent{
  color: #ed9842;
}

a:visited {
  text-decoration: none;
  color: #fdf0e2;
}

a:link {
  text-decoration: none;
  color: #fdf0e2;
}

a:hover {
  color: #ed9842;
  transition: 0.2s ease-in-out;
}

.text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
}

.textbold {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
}

.headertext {
  font-family: Poppins;
  font-weight: 700;
  font-size: 35px;
}

.placeholdertext {
  font-family: Poppins;
  font-weight: 200;
  font-size: 16px;
}

.navibartextsmaller {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
}

.navibartext {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
}

.navibartext,
.navibartextsmaller,
.placeholdertext,
.headertext,
.text,
.textbold {
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.3px;
  word-wrap: break-word;
}



/* 

CATEGORIES COLORS

#F94144
#FF8D76
#F9844A
#F3722C
#F8961E
#F9C74F
#D5E66A

#90BE6D
#7ADC97
#43AA8B
#4D908E
#577590
#277DA1
#2757A1

#1C35A4
#3A288C
#54478C
#A663CC
#B298DC
#FFCAD4
#D88C9A

#F7A399
#F38375
#EF6351
#C81D25
#D1495B
#91B9F3
#DC58D1

*/